<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký</title>
    <link rel="stylesheet" href="css/signUp.css" />
  </head>
  <body>
    <div class="container">
      <div class="back-link">
        <a href="Chung.html">
          <img src="image/less-than-symbol.png" width="14px" />Quay lại
        </a>
      </div>
      <form action="/postUser" class="form-login" method="POST">
        <h1>Đăng kí</h1>
        <p class="Email">Tài khoản chưa tồn tại, bạn hãy đăng kí:</p>
        <div class="input-box">
          <input type="email" placeholder="Tài khoản" name="email" />
        </div>
        <div class="input-box">
          <input type="text" placeholder="Mật khẩu" name="password" /><img
            src="image/eye.png"
          />
        </div>
        <!-- <div class="input-box">
          <input
            type="text"
            placeholder="Xác nhận mật khẩu"
            name="password"
          /><img src="image/eye.png" />
        </div> -->
        <button type="submit" class="login-btn">Tiếp tục</button>
        <div class="login-option">
          <p class="hoac">_______________hoặc_______________</p>
          <a href="#" class="option">
            <img class="google-icon" src="image/google-icon.png" />
            <span>Tiếp tục với Google</span>
          </a>
        </div>
        <div class="login-option">
          <a href="#" class="option">
            <img class="fb-icon" src="image/fb.png" />
            <span>Tiếp tục với Facebook</span>
          </a>
        </div>
        <div class="dieukhoan">
          Bằng cách nhấn nút tiếp tục bạn đã đồng ý với Điều khoản & điều kiện,
          và đã đọc Chính sách quyền riêng tư của chúng tôi
        </div>
      </form>
    </div>
  </body>
</html>
